<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">	
	<link th:href="@{/css/findaccountant.css}" rel="stylesheet" />
	<title>MyTaxApp</title>

<!-- This is the accountant's html page to see the profiles, edit and delete them.
	Through the thymeleaf attributes the pages receive images and other pages links.  -->

</head>
<body>
	<header class="header">
		<img class="logo" th:src="@{/img/logo.png}" height="100" width="100">
		<nav class="navbar">
			<a th:href="@{/accountant/dashboard}" class="navitem">Dashboard</a>
			<a th:href="@{/accountant/profileForm}" class="navitem">New Profile</a>
			<a th:href="@{/logout}" class="navitem">Logout</a>
			
		</nav>
	
	</header>

	<div class="search">
		<form th:object="${accProfile}" class="search-form" method="GET"
			th:action="@{/accountant/specialty}">
			<input class="form-control" placeholder="Search for a specialty here"
				autofocus="autofocus" name="specialty"></input>
			<div class="search-button">
				<button type="submit" class="btn btn-primary" value="Search">Search</button>
			</div>

		</form>



	</div>
	<main class="content">
	
		

		<!-- With the thymeleaf loop, going trhough the accountant's object showing the profiles saved on the database.  -->
		<div th:each="accountants : ${accountants}" class="container">
		
		
			<div class="name" th:text="${accountants.name} + ' ' + ${accountants.lastName}"></div>
			<div class="info" th:text="${accountants.email}"></div>
			<div class="info" th:text="${accountants.city}"></div>
			<div class="info" th:text="${accountants.phone}"></div>
			<div class="info" th:text="${accountants.specialty}"></div>
			<div class="info" th:text="${accountants.language}"></div>
			<div class="info" th:text="${accountants.price}"></div>
			<div class="info" th:text="${accountants.aboutYou}"></div>
			<div class="edit"><a th:href="@{/accountant/updateProfile/{id}(id=${accountants.id})}" class="navitem">Edit</a></div>
			<div class="delete"><a th:href="@{/accountant/deleteProfile/{id}(id=${accountants.id})}" class="navitem">Delete</a></div>
		
		
		</div>
	</main>

</body>
</html>